tensorflow
keras
pytorch
requests
json
tk
pyqt5
kivy
pygame
pyglet
urllib3
socks
dnspython
cryptography
pycrypto
autopep8
pylint
ipython
jupyter
virtualenv
sortedcontainers
cython
bitarray
numba
psutil
os
shutil

arrow
humanize
json
yaml
pillow
nltk
selenium
PyPDF2
music2
pydub
sounddevice
opencv-python
scikit-image
imageio